<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col col-8 offset-2">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success text-center" id="successMessage">{{ message }}</div>
                {% endfor %}
            {% endif %}
    
            <script>
                // Hide the success message after 3 seconds (3000 milliseconds)
                setTimeout(function() {
                    const successMessage = document.getElementById('successMessage');
                    if (successMessage) {
                        successMessage.style.display = 'none';
                    }
                }, 800);  // Change the 3000 value to control how long the message is shown (in milliseconds)
            </script>

                <h3 class="alert alert-success text-center">Create New Expense</h3>

                <form method="POST" action="{% url 'user_addexpenses' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>